{{> head }}

    {{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Jena Frumes</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores molestiae accusantium ducimus, voluptas inventore odit facere illo sed vel at, labore dignissimos. Officiis ipsam delectus molestias, repellendus doloribus animi dicta!
        </p>
    </div>
    <div class="col-4">
         <img src="assets/img/jenafrumes.jpg" class="img-thumbnail">
    </div>
</div>

    {{> footer}}